/* divs */
html,body, #mainpage {
  height: 100%;
}

#mainpage {
  min-height: 100%;
}

#container {
  width:50%;
  margin: 2% 25% 0 25%;
  text-align:center;
}

#header {
  padding:1% 3% 0 0;
  text-align:right;
}

#footer {
  clear: both;
  position:relative;
  z-index: 10;
  height:4em;
  margin-top: -4em;
}

#suggestions {
  width:70%;
  margin: 5% 15% 5% 15%;
  text-align:center;
  text-decoration:none;
}

#suggestionspane {
  float:left;
  width:33%;
  text-align:center;
}

/* text formatting */
h1 {
  text-align: center;
  font-size: 2em;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

/* forms */
#textbox {
  margin: 0 15% 0 15%;
  width: 70%;
  padding: 1%;
  font-size: 1.3em;
}

#form {
  margin: 15% 0 0 0;
}

#submit {
  margin: 5% 5% 0 5%;
  padding: 1%;
  font-size: 1.1em;
}

#content {
  font-size: 1.3em;
  line-height:2em;
}

#signup_form {
  width: 50%;
  float:right;
}

#signup_textbox {
  width: 65%;
  margin: 0 4% 0 5%;
  padding: 1%;
}

#signup_submit {
  width: 15%;
  margin: 0 3% 0 3%;
  padding: .5%;
}
