/* divs */
html,body, #container {
  height: 100%;
  padding: 0; 
  margin: 0;
}

#container {
  min-height: 100%;
}

#content {
  width:50%;
  margin: 0 25% 0 25%;
  text-align:center;
}

#header {
  width: 90%;
  margin: 1% 5% 0 5%;
  font-size: 1.2em;
  text-align:right;
}

#header a {
  padding-right: 1%;
}

#footer {
  clear: both;
  position:relative;
  z-index: 10;
  height:7em;
  margin-top: -7em;
}

#suggestions {
  float:left;
  width:70%;
  margin: 0 15% 0 15%;
  text-align:center;
  text-decoration:none;
}

#suggestionspane {
  float:left;
  width:33%;
  text-align:center;
}

/* text formatting */
h1 {
  text-align: center;
  font-size: 2em;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

/* forms */
#textbox {
  margin: 0 15% 2% 15%;
  width: 70%;
  padding: 1%;
  font-size: 1.3em;
}

#form {
  margin: 15% 0 0 0;
}

#submit {
  margin: 2% 5% 0 5%;
  padding: 1%;
  font-size: 1.1em;
}

#content {
  font-size: 1.3em;
  line-height:2em;
}

#signup_form {
  width: 50%;
  float:right;
  margin: 2% 0 0 0;
}

#signup_textbox {
  width: 65%;
  margin: 0 4% 0 5%;
  padding: 1%;
}

#signup_submit {
  width: 15%;
  margin: 0 3% 0 3%;
  padding: .5%;
}

/* small screens */
@media screen and (max-width: 640px) {
  #content {
    font-size: 1em;
    width: 100%;
    margin: 0;
  }
  #suggestionspane {
    float:none;
    width:100%;
  }
  #signup_form {
    width: 100%;
  }
  #signup_textbox {
    width: 60%;
    margin: 0 2.5% 0 5%;
  }
  #signup_submit {
    width: 20%;
    margin: 0 5% 0 2.5%;
  }
}
