<DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mangarecs.css') }}">
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <a href='/'>Home</a>
      </div>
      <div id='content'>
        </br>
        <h1>mangarecs</h1>
        <form id='form' action="." method="POST">
          <input id='textbox' type="text" name="text" placeholder="Search for a manga . . .">
          <input type="checkbox" name="options" value="sametype"> Same type
          <input type="checkbox" name="options" value="samegenre"> Same genre
          <input type="checkbox" name="options" value="commonrecs"> Common Recommendations
          <br>
          <input id='submit' type="submit" name="submit" value="Search">
        </form>
        </br>
      </div>
      <div id='suggestions'>
        <h2> Manga Suggestions </h2>
        <div id='suggestionspane'>
          <h3>Beginner</h3>
          {% for item in beginner_recs %}
          <a href="http://www.mangaupdates.com/series.html?id={{item[1]}}" style='text-decoration:none'>{{item.name}}</a>
          </br>
          {% endfor %}
        </div>
        <div id='suggestionspane'>
          <h3>Intermediate</h3>
          {% for item in intermediate_recs %}
          <a href="http://www.mangaupdates.com/series.html?id={{item[1]}}" style='text-decoration:none'>{{item.name}}</a>
          </br>
          {% endfor %}
        </div>
        <div id='suggestionspane'>
          <h3>Advanced</h3>
          {% for item in advanced_recs %}
          <a href="http://www.mangaupdates.com/series.html?id={{item[1]}}" style='text-decoration:none'>{{item.name}}</a>
          </br>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id='footer'>
      <form id='signup_form' action="." method="POST">
        <input id='signup_textbox' type="text" name="signup" placeholder = "Signup for updates">
        <input id='signup_submit' type="submit" name="submit" value="Signup">
      </form>
    </div>
    {% if not config.DEBUG %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54114575-1', 'auto');
        ga('send', 'pageview');
      
      </script>    
     {% endif %}
  </body>
</html>

