<!doctype html>
<head>
  <title>Manga Recommendations</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mangarecs.css') }}">
  <script type="text/javascript">
    function contains(a, obj) {
      for (var i = 0; i < a.length; i++) {
        if (a[i] === obj) {
          return true;
        }
      }
      return false;
    }
    function hidetype(div) {
      var types = [ "Manga", "Manhwa", "Manhua" ];
      if (contains(types, div)) {
        var show = "block"
        if (document.getElementById("sametype").checked) {
          var show = "none";
        }
        var genreChecked = false;
        if (document.getElementById("samegenre").checked) {
          var genreChecked = true;
        }
        for (type in types) {
          if (div != types[type]) {
            var divs = Array.prototype.slice.call(document.getElementsByClassName(types[type]));
            for (var i = 0; i < divs.length; i++) {
              if (divs[i].className.indexOf("show") > -1) {
                if (genreChecked) {
                  var classes = divs[i].className.split(" ");
                  if (classes[1] != "{{ demographic }}") {
                    divs[i].style.display = "none";
                  } else {
                    divs[i].style.display = show;
                  }
                } else {
                  divs[i].style.display = show;
                }
              }
            }
          }
        }
      } 
    }
    function hidedemographic(div) {
      var demographics = [ "Shounen", "Shoujo", "Seinen", "Josei" ];
      if (contains(demographics, div)) {
        show = "block";
        if (document.getElementById("samegenre").checked) {
          show = "none";
        }
        var typeChecked = false;
        if (document.getElementById("sametype").checked) {
          var typeChecked = true;
        } 
        for (demographic in demographics) {
          if (div != demographics[demographic]) {
            var divs = Array.prototype.slice.call(document.getElementsByClassName(demographics[demographic]));
            for (var i = 0; i < divs.length; i++) {
              if (divs[i].className.indexOf("show") > -1) {
                if (typeChecked) {
                  var classes = divs[i].className.split(" ");
                  if (classes[0] != "{{ type }}") {
                    divs[i].style.display = "none";
                  } else {
                    divs[i].style.display = show;
                  }
                } else {
                  divs[i].style.display = show;
                }
              }
            }
          }
        }
      }
    }
    function hidecommon() {
      var divs = Array.prototype.slice.call(document.getElementsByClassName("show"));
      var divs2 = Array.prototype.slice.call(document.getElementsByClassName("hide"));

      for (var i=0; i < divs.length; i++) {
        var div = divs[i];
        div.classList.remove('show');
        div.classList.add('hide');
      }
      for (var i=0; i < divs2.length; i++) {
        var div = divs2[i];
        div.classList.remove('hide');
        div.classList.add('show');
      }
      var raw_divs = document.getElementsByClassName("show");
      var divs = Array.prototype.slice.call(raw_divs);
      for (var i=0; i < divs.length; i++) {
        divs[i].style.display = "block";
      }
      var raw_divs = document.getElementsByClassName("hide");
      var divs = Array.prototype.slice.call(raw_divs);
      for (var i=0; i < divs.length; i++) {
        divs[i].style.display = "none";
      }
      if (document.getElementById('sametype').checked) {
        hidetype('{{ type }}');
      } 
      if (document.getElementById('samegenre').checked) {
        hidedemographic('{{ demographic }}');
      }
    }
    function hidecommonlong() {
      {% if checked[2] == "True" %}
      var rec = "long";
      {% else %}
      var rec = "common";
      {% endif %}
      var raw_divs = document.getElementsByClassName(rec);
      var divs = Array.prototype.slice.call(raw_divs);
      for (var i = 0; i < divs.length; i++) {
        divs[i].style.display = "none";
      }
    }
    window.onload = function() {
      {% if checked[0] == "True" %}
      hidetype('{{ type }}');
      {% endif %}
      {% if checked[1] == "True" %}
      hidedemographic('{{ demographic }}');
      {% endif %}
      hidecommonlong();
    }
  </script>
</head>
<body>
  <div id='header'>
    <a href='/'>Home</a>
  </div>
  <div id='content'> 
    <h1>Here are some recommendations based on: </h1>
    <h1> {{ manga_name }} </h2>
    {% if checked[0] == "True" %}
    <input id="sametype" type="checkbox" name="options" value="sametype" onclick="hidetype('{{ type }}')" checked> Same type
    {% else %}
    <input id="sametype" type="checkbox" name="options" value="sametype" onclick="hidetype('{{ type }}')"> Same type
    {% endif %}
    {% if checked[1] == "True" %}
    <input id="samegenre" type="checkbox" name="options" value="samegenre" onclick="hidedemographic('{{ demographic }}')" checked> Same genre
    {% else %}
    <input id="samegenre" type="checkbox" name="options" value="samegenre" onclick="hidedemographic('{{ demographic }}')"> Same genre
    {% endif %}
    {% if checked[2] == "True" %}
    <input id="commonrecs" type="checkbox" name="options" value="sametime" onclick="hidecommon()" checked> Common Recommendations
    {% else %}
    <input id="commonrecs" type="checkbox" name="options" value="sametime" onclick="hidecommon()" > Common Recommendations
    {% endif %}
    {% for name in recs %}
    {% if checked[2] == "True" %}
      {% if name[4] == "common" %}
      <div class="{{ name[1]}} {{ name[2] }} {{ name[4] }} show">
      {% else %}
      <div class="{{ name[1]}} {{ name[2] }} {{ name[4] }} hide">
      {% endif %}
    {% else %}
      {% if name[4] == "common" %}
      <div class="{{ name[1]}} {{ name[2] }} {{ name[4] }} hide">
      {% else %}
      <div class="{{ name[1]}} {{ name[2] }} {{ name[4] }} show">
      {% endif %}
    {% endif %}
      <a href='http://mangaupdates.com/series.html?id={{ name[3] }}' style='text-decoration:none'>{{ name[0] }}</a>
      </br>
    </div>
    {% endfor %}
  </div>
  {% if not config.DEBUG %}
    <script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o)
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

      ga('create', 'UA-54114575-1', 'auto')
      ga('send', 'pageview')

    </script>
  {% endif %}
</body>
