<DOCTYPE html>
<html lang="en">
  <body>
    <div id='header' style='padding:1% 3% 0 0;text-align:right;'>
      <a href='/' style='color:black;text-decoration: none;'>Home</a>
    </div>
    <div id='container' style='width:50%;margin:5% 25% 0 25%'>
      {% if type == 'recs' %}
      <h1 style='text-align:center; font-size: 2em;'>Long Recs</h1>
      {% else %}
      <h1 style='text-align:center; font-size: 2em;'>Common Recs</h1>
      {% endif %}
      <form action="." method="POST">
        <input style='margin: 0 25% 0 25%; width:50%; padding: 1%; font-size: 1.3em;' type="text" name="text">
        <input style='margin: 5% 40% 0 40%; width: 20%; font-size: 1.3em;' type="submit" name="submit" value="Search">
      </form>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54114575-1', 'auto');
        ga('send', 'pageview');
      
     </script>    
  </body>
</html>

