<DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mangarecs.css') }}">
  </head>
  <body>
    <div id='header'>
      <a href='/'>Home</a>
      <a href='/about.html'>About</a>
    </div>
    <div id='content'>
      <h3>You have provided an invalid email address. Without a working email, I won't be able to add you to the mailing list and keep you up to date on new changes to the site. Please go back to the homepage and try again. If you believe this to be a mistake, email me at projectdelphai@gmail.com or message /u/wmcscrooge on reddit and you'll be personally added to the list. Thanks for your understanding!</h3>
      </div>
  </body>
</html>
